/*fonts for use*/
@font-face
{
font-family: Raleway;
src: url('../fonts/Raleway-Regular.ttf');
font-weight:400; 
}
@font-face
{
font-family: Raleway;
src: url('../fonts/Raleway-Light.ttf');
font-weight:300; 
}
@font-face
{
font-family: Raleway;
src: url('../fonts/Raleway-Thin.ttf');
font-weight:200; 
}
@font-face
{
font-family: Raleway;
src: url('../fonts/Raleway-Bold.ttf');
font-weight:700; 
}
@font-face
{
font-family: 'Roboto Slab';
src: url('../fonts/RobotoSlab-Bold.ttf');
font-weight:700; 
}
@font-face
{
font-family: 'Roboto Slab';
src: url('../fonts/RobotoSlab-Regular.ttf');
font-weight:400; 
}


@-webkit-keyframes blink{
    from {opacity: 0;}
    to {opacity:0.5;}
}

@keyframes blink{
    from {opacity: 0;}
    to {opacity:0.5;}
}

*
{
	margin:0;
	padding:0;
}


body
{
	font-family:Raleway,Arial;
	font-weight:300;
	background-color:#111;
	color:#222;
	overflow-x:hidden;
}

a
{
	color:#222;
	text-decoration:none;
}



.mainArea
{
	transition: all 0.1s linear;
}
.blur
{
	/* Webkit */
	-webkit-filter: blur(3px) grayscale(10%);

	/* Opera */
	-o-filter: blur(3px) grayscale(10%);
	
	 /* Any browser which supports CSS3 */
	filter: blur(3px) grayscale(10%);
	
}

.nav
{
	height:100vh;
	width:45px;
	background:#111;
	position:fixed;
	left:0;
	top:0;
	transition:all 0.2s linear;
	
	overflow:hidden;
}

.nav:hover
{
	width:450px;
	background:rgba(17,17,17,0.9);
}

.nav:hover .menu li
{
	background-position: 20px center;
}

.nav:hover .menu
{
	background:transparent;
}



.switch
{
	
	position:relative;
	top:10;
	right:0;
	z-index:2000;
	padding:0px;
	background:transparent;
	color:#fff;	
	width:45px;
	transition:all 0.5s ease-in-out;
	text-align:center;
}

.menuLine
{
	width:20px;
	height:1px;
	background:#eee;
	margin:auto;
	margin-top:5px;
	margin-bottom:5px;
}


.menu
{
	margin-top:20vh;
	overflow:hidden;
	width:100%;
	background:transparent;
	transition:all 0.2s linear;
	padding:20px 0;
}

.menu li
{
	color:#fff;
	font-size:20px;
	font-weight:200;
	padding:25px;
	padding-left:80px;
	cursor:pointer;
	transition:all 0.2s linear;
	background-size: 35px;
    background-repeat: no-repeat;
    background-position: 5px center;
	border-color:#fff;
	min-width:100px;
}

.menu li:hover
{
	background-color:rgba(255,255,255,0.05);
	
	border-left:15px solid;
	/*border-top-left-radius:200px;*/
	
	box-shadow:6px 3px 3px rgba(0,0,0,0.05), inset 0 0 10px rgba(125,125,125,0.07);
}





.sectionWrapper
{
	background:#ccc;
	min-height:100vh;
	background-size:cover;
	background-attachment:fixed;
	
}

.homeBg
{
	background:url('../img/icons/home.png');
	border-color:#c0392b !important;
}

.aboutBg
{
	background:url('../img/icons/about.png');
	border-color:#2980b9 !important;
}

.portfolioBg
{
	background:url('../img/icons/portfolio.png');
	border-color:#f39c12 !important;
}

.contactBg
{
	background:url('../img/icons/contact.png');
	border-color:#27ac31 !important;
}

.noBg
{
	background:transparent !important;
}

.sectionOverlay
{
	width:100%;
	min-height:100vh;
	background:rgba(204, 204, 204,0.1);
	display:flex;
	flex-direction:row-reverse;
}

.section
{
	width:calc(100vw - 60px);
	flex-shrink:1;
	display:flex;
	flex-direction:column;
	align-content:center;
	justify-content:flex-end;
}

.internal
{
	justify-content:center;
}

.internal .sectionTitle
{
	color:#333;
	font-weight:700;
	background:transparent;
	padding:0;
	text-shadow:0 1px 1px #eee;
	margin-top:20px;
}

.internal .sectionCaption
{
	color:#999;
	background:transparent;
	margin:0;
}

.sectionTitle
{
	font-size:50px;
	color:#fff;
	font-weight:200;
	text-align:center;
	padding: 40px;
	padding-bottom: 0px;
	background: rgba(0,0,0,0.3);
}

.sectionCaption
{
	color:#fff;
	text-align:center;
	font-weight:400;
	font-family:'Roboto Slab';
	font-size:20px;
	/*! margin-top:10px; */
	margin-bottom:30px;
	background: rgba(0,0,0,0.3);
	padding: 40px;
	padding-top: 0px;
}

.sectionContent
{
	flex-shrink:1;
	margin-top:20px;
}

.scrollTxt
{
	font-size:12px;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	color:#fff;
	margin-bottom:10px;
	-webkit-animation: blink 1s infinite; 
    animation: blink 1s infinite;
	-webkit-animation-direction: alternate; 
    animation-direction: alternate;
}

.btnLink
{
	text-align:center;
	margin:35px 0;
	align-self:center;
	overflow:hidden;
	width:30%;
}

.btnLink .infoBtn
{
	margin:0;
	width:100%;
}

.infoBtn
{
	width:30%;
	align-self:center;
	margin:35px 0;
	border-radius:2px;
	border:0;
	outline:none;
	padding:20px;
	cursor:pointer;
	font-size:20px;
	color:#fff;
	background:#999;
	transition:all 0.1s linear;
}

.infoBtn:hover
{
	background:#333;
}

.imageCardRow
{
	
	height:auto;
	display:flex;
	align-content:center;
	margin:auto;
	width:80%;
	
}

.rightImg
{
	flex-direction:row-reverse;
}



.imageCardImg
{
	flex:1;
	align-self:flex-start;
	margin-right:5px;
	width:30%;
	
}

.imageCardInfo
{
	width:55%;
	display:flex;
	flex-direction:column;
	
	padding:15px;
	
	
}



.imageCardTitle
{
	font-size:30px;
	font-weight:700;
}


.imageCardLink
{
	
	padding:10px;
	margin-top:25px;
	text-align:right;
	
	align-self: flex-end;
	color: #fff;
	background: #111;
	border-radius: 2px;
	text-decoration: none;
	margin-right: 50px;
}



.statHolder
{
	width:80%;
	align-self:center;
	display:flex;
}
.stat
{
	display:flex;
	width:80%;
	margin:20px auto;
}
.statTitle
{
	font-weight:700;
	font-size:20px;
	width:20%;
	text-align:right;
	margin-right:20px;
}
.statHolder
{
	background:#ccc;
	border-radius:2px;
	height:15px;
	flex:1;
}

.statProgress
{
	background:#e74c3c;
	border-radius:2px;
	height:100%;
	transition:all 0.2s linear;
}


.stat:nth-of-type(2) .statProgress
{
	transition:all 0.4s linear;
}

.stat:nth-of-type(3) .statProgress
{
	transition:all 0.6s linear;
}

.stat:nth-of-type(4) .statProgress
{
	transition:all 0.8s linear;
}

.stat:nth-of-type(5) .statProgress
{
	transition:all 1s linear;
}

.stat:nth-of-type(6) .statProgress
{
	transition:all 1.2s linear;
}

.noProgress
{
	width:0 !important;
}

.statValue
{
	font-weight:700;
	font-size:20px;
	
	margin-left:20px;
}

.footer
{
	min-height:20vh !important;
	height:20vh !important;
	
	background:#222;
}





.contactInfo
{
	width:80%;
	margin:20px auto;
	display:flex;
	font-size:20px;
}

.contactSite
{
	font-weight:700;
	width:30%;
	padding:20px;
	background:#ddd;
}

.contactLink
{
	
	padding:20px;
	background:#fff;
	flex:1;
	
}



.tagsHolder
{
	display:flex;
	flex-wrap:wrap;
}


.tag
{
	border-radius:2px;
	padding:10px 15px;
	background:#ccc;
	font-size:0.7em;
	margin:10px;
	transition:all 0.2s linear;
}

.tag:hover
{
	background:#fff;
	
}

.timeLine
{
	border-left:3px solid #ccc;
	display:flex;
	width:80%;
	margin:auto;
	flex-direction:column;
}


.marker
{
	display:flex;
	margin:25px;
	
}

.timelineYear
{
	
	
	font-size:25px;
	font-weight:700;
	margin-left:30px;
	color:#34a6ff;
}

.timelineDesc
{
	
	
	font-size:25px;
	font-weight:700;
	margin-left:30px;
	
}





.mainBg
{
	background-image:url('../img/site covers 4.jpg');
}

.lightBg
{
	background:#ddd;
}

.lighterBg
{
	background:#eee;
}

.whiteBg
{
	background:#fff;
}

.redTxt
{
	color:#c65252;
}

.largeTxt
{
	font-size:1.5em;
}

.largerTxt
{
	font-size:1.2em;
}

.boldTxt
{
	font-weight:700;
}

.redImg
{
	filter:sepia(100%) hue-rotate(680deg) saturate(130%);
	transition:all 0.1s linear;
}

.bnwImg
{
	filter:grayscale(100%) contrast(110%);
	transition:all 0.3s linear;
}

.spacingFix
{
	font-size:0;
}

.slab
{
	font-family:'Roboto Slab', Arial;
}