@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Space+Grotesk:wght@300;600&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
  font-size: 24px;
  --dark: #212121;
  --white: #fff;
  --light: #f2f2f2;
  --primary: #05668d;
  --secondary: #f3a459;
  --horizontal-spacing: 15vw;
}

* {
  margin: 0;
  padding: 0;
  font-family: Oxygen, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--light);
  color: var(--dark);
}

a {
  text-decoration: none;
  color: var(--dark);
}

h1, h2 {
  font-family: "Space Grotesk", sans-serif;
}

.top-bar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  padding: 0 var(--horizontal-spacing);
}

.logo {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  color: var(--dark);
}

.section {
  min-height: 100vh;
  width: 100%;
  padding: 10vh var(--horizontal-spacing);
}

.section-title {
  font-size: 2rem;
}

.cover {
  display: flex;
  align-items: center;
  background-color: var(--light);
  color: var(--dark);
  font-family: 24px;
  flex-direction: row;
}

.greeting {
  font-size: 1.5rem;
  margin-bottom: 24px;
}

.intro {
  font-size: 3rem;
  margin-bottom: 48px;
  font-family: Oxygen, sans-serif;
}

.first-name,
.second-name {
  color: var(--primary);
  font-family: "Space Grotesk", sans-serif;
}

.first-name {
  font-weight: 600;
  border-bottom: 8px dotted;
}

.second-name {
  font-weight: 300;
}

.profession {
  background-color: var(--primary);
  color: var(--white);
  padding: 12px 24px;
  border-radius: 8px;
  display: inline-block;
  font-size: 1rem;
}

.profession .bi {
  margin-right: 8px;
}

.contact {
  margin-top: 48px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.contact-text {
  font-size: 1rem;
}

.contact-icons {
  display: flex;
  gap: 24px;
  font-size: 1.5rem;
}

.contact-icons li {
  list-style: none;
}

.contact-icons li a {
  background-color: var(--primary);
  color: var(--white);
  width: 72px;
  height: 72px;
  border-radius: 72px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.contact-icons li a:hover {
  background-color: var(--dark);
  color: var(--white);
}

.skills {
  display: flex;
  align-items: flex-start;
  background-color: var(--primary);
  color: var(--white);
  gap: 64px;
}

.skills-left {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
}

.skills-right {
  flex: 1;
}

.skill-group {
  margin-bottom: 4rem;
}

.skill-group-title {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  width: max-content;
  color: var(--white);
  text-transform: uppercase;
}

.skill-group-title::after {
  content: "";
  display: block;
  width: calc(100% + 2rem);
  margin: 0.25rem 0;
  border-top: 4px solid var(--secondary);
  border-radius: 8px;
}

.skills-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.skill {
  list-style: none;
  padding: 8px 20px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  font-size: 1rem;
}

.certificate-link {
  color: var(--white);
  margin-left: 4px;
}

.footer {
  padding: 24px var(--horizontal-spacing);
  text-align: center;
  background-color: var(--dark);
  color: var(--white);
  font-size: 0.75rem;
}

.footer .heart {
  color: #e71d36;
}

@media only screen and (max-width: 1400px) {
  .skills {
    flex-direction: column;
  }

  .skills-left {
    text-align: center;
    top: 60px;
    width: 100%;
    backdrop-filter: blur(24px);
  }
}

@media only screen and (max-width: 700px) {
  :root {
    font-size: 16px;
    --horizontal-spacing: 7.5%;
  }

  .top-bar {
    text-align: center;
  }

  .logo {
    font-size: 1rem;
  }

  .cover {
    text-align: center;
  }

  .contact {
    flex-direction: column;
  }
  .contact-text {
    font-size: 1.25rem;
  }

  .footer {
    font-size: 1rem;
  }
}
